{% extends 'Main/base.html' %}
{% block content %}
{% load cart_tag %}
<!-- Empty Cart area start -->
<div class="empty-cart-area pb-100px pt-100px">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cart-heading">
                    <h2>Your cart item</h2>
                </div>
                <div class="empty-text-contant text-center">
                    <i class="pe-7s-shopbag"></i>
                    <h3>There are no more items in your cart</h3>
                    <a class="empty-cart-btn" href="{% url 'products' %}">
                        <i class="fa fa-arrow-left"> </i> Continue shopping
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Empty Cart area end -->
{% else %}
{% load cart_tag %}
<!-- Cart Area Start -->
<div class="cart-main-area pt-100px pb-100px">
    <div class="container">
        <h3 class="cart-page-title">Your order</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <form action="#">
                    <div class="table-content table-responsive cart-table-content">
                        <table>
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product Name</th>
                                    <th>Until Price</th>
                                    <th>Qty</th>
                                    <th>Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for key,value in request.session.cart.items %}
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="#"><img class="img-responsive ml-15px" src="{{value.image}}" alt="" /></a>
                                    </td>
                                    <td class="product-name"><a href="#">{{value.name | truncatewords:8}}</a></td>
                                    <td class="product-price-cart"><span class="amount">${{value.price}}</span></td>
                                    <td class="cart_quantity">
                                        <div class="cart_quantity_button">
                                            <a>{{value.quantity}}</a>
                                        </div>

                                    </td>
                                    <td class="product-subtotal">${{ value.price|multiply:value.quantity }}</td>
                                    
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart-shiping-update-wrapper">
                                <div class="cart-shiping-update">
                                    <a>Place Order</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<!-- Cart Area End -->
<form action="{% url 'success' %}" method="post">
<!-- Link rakhne eta esewa ko (API) -->
</form>
{% endif %}
{% endblock %}